node_modules
dist
.expo
.turbo
coverage
.env
.env.*
!.env.example
.env.local
apps/mobile/.env
apps/mobile/.env.*
!apps/mobile/.env.example
prisma/.env
*.log
ios
android
**/local.properties
**/.gradle/
**/build/
.DS_Store
.railway
*.pem
*.p12
*.keystore
